<mat-card>
  <form
    [formGroup]="createTodoForm"
    (ngSubmit)="onSubmit()"
    class="example-form"
  >
    <mat-form-field class="example-full-width">
      <mat-label>To do</mat-label>
      <input matInput formControlName="title" type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a due date</mat-label>
      <input matInput formControlName="deadline" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Add to do</button>
  </form>

  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input matInput type="text" #search (input)="input(search.value)" />
  </mat-form-field>
</mat-card>
