.filter__container{
     //display: block;
    // flex-direction: column;
    // justify-content: center;
    padding: 20%;
}
mat-form-field{
    display: block;
}
button{
    margin: 5px 10px 0 0;
}
